@page 
@model ListModel
@{
    @*This sets the title of the page. *@
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurant</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search">search</i>
                </button>
            </span>
        </div>

    </div>
</form>

@*here we will render our partial view _Summary to display each restaurant*@
@foreach(var restaurant in Model.Restaurants)
{
    @*have to tell it what partial view to use, and what model to pass into the partial view*@
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class=" btn btn-primary">Add New</a>

@section footer{
    <div>@Model.Message</div>
}